.nav{
    position: fixed;
    width: 100vw;
    left: 0px;
    top: 0px;
    display: table; 
    height: 4.688rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.gradient{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgb(211,77,250);
background: radial-gradient(circle at left top, rgba(211,77,250,1) 0%, rgba(137,61,245,0.9164040616246498) 13%, rgba(0,0,0,1) 37%);
}

.nav-mid{
     display: table-cell;
     color: white ;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     vertical-align: middle;
     width: 10vw;
}
.nav-left{
    display: table-cell;
    color: white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    vertical-align: middle;
    padding-left: 100px;
    width: 20vw;
}
.nav-right{
    display: table-cell;
    width: 20vw;
}
.line{
    display: table-cell;
    margin: auto;
    z-index: 10;
    border-bottom: 2px solid white;
}
.title{
    position: relative;
    top: 15rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 100;
    padding-left: 4vw;
    color: white;
}
.caption{
    position: relative;
    top: 20rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding-left: 4vw;
}
.hand{
    position: absolute;
    top: -50px;
    right: 0px;
}
img{
    width: 35vw;
}
.button1{

     border: 2px solid white;
     border-radius: 50px;
     position: relative;
     opacity: 75%;
     top: 20rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 20px;
     color: white;
     margin-top: 7rem;
     margin-left: 4vw;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 30px;
     padding-left: 20px;
     width: fit-content;
}
.button2{

    border: 2px solid white;
    border-radius: 50px;
    position: relative;
    opacity: 75%;
    top: 20rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 7rem;
    margin-left: 4vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    width: fit-content;
}
.strip{
    position: absolute;
    display: flex;
	align-items: center;
    width: 100vw;
    height: 35px;
    top: 60rem;
    left: 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 60%;

}
.banner{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.gradient2{
    position: absolute;
    top: 64rem;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgb(163,77,250);
    background: radial-gradient(circle at 58vw 60vh, rgba(163,77,250,0.8267682072829132) 0%, rgba(0,0,0,1) 30%);
}
.box{
    position: absolute;
    opacity: 50%;
    top: 64rem;
    right: 0px;
    width: 30vw;
    height: 50px;
    margin-top: 25vh;
    margin-right: 15vw;
    border: 2px solid white;
}
.photo{
    position: absolute;
    top: 65rem;
    right: 0px;
    width: 40vw;
    margin-top: 25vh;
    margin-right: 9vw;

}
.title2{
    position: absolute;
    top: 75rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vw;
    font-weight: 100;
    padding-left: 4vw;
    color: white;
}
.caption2{
    position: absolute;
    top: 90rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    color: white;
    padding-left: 4vw;
}